#chartdivTotales {
  width: 100%;
  height: 500px;
}
#chartdivTotalesMacro {
  width: 100%;
  height: 500px;
}


.app-card-grafico {
  
}

.app-card-principal {
  background-color: #dfdbdb;
  color: #101414;
}

.app-card {
  margin: 5px 0 5px 0;
}

.app-card p {
  font-size: 30px;
  margin: 15px;
  text-align: center;
  font-weight: bold;
}