<h4>Datos Generales</h4>


<div class="row" style="margin: 0;">
  <div class="col-sm-12 col-md-3">
    <mat-card class="app-card app-card-principal" appearance="outlined">
      <mat-card-header>
        <mat-card-title>Total</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>{{dataTotal | number: '1.0-0'}} votos</p>
        <p style="color: #086f1b;">{{porcTotal | number: '1.0-0'}} %</p>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="col-sm-12 col-md-3">
    <mat-card class="app-card" appearance="outlined">
      <mat-card-header>
        <mat-card-title>PBCSP</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>{{dataTotalPBCSP | number: '1.0-0'}} votos</p>
        <p style="color: #5cf378;">{{porcPBCSP }} %</p>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="col-sm-12 col-md-3">
    <mat-card class="app-card" appearance="outlined">
      <mat-card-header>
        <mat-card-title>MAS-IPSP</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>{{dataTotalMAS | number: '1.0-0'}} votos</p>
        <p style="color: #5cf378;">{{porcMAS }} %</p>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="col-sm-12 col-md-3">
    <mat-card class="app-card" appearance="outlined">
      <mat-card-header>
        <mat-card-title>Otros</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>{{dataTotalOtros | number: '1.0-0'}} votos</p>
        <p style="color: #5cf378;">{{porcOtros }} %</p>
      </mat-card-content>
    </mat-card>
  </div>
</div>


<br>

<div class="row" style="margin: 0;">
  <div class="col-sm-12 col-md-6">
    <mat-card class="app-card-grafico" appearance="outlined">
      <mat-card-header>
        <mat-card-title>Total votos por partido</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div style="overflow:auto ;">
          <div style="min-width: 500px;">
            <div id="chartdivTotales"></div>
          </div>
        </div>
        
      </mat-card-content>
    </mat-card>
    <br>
  </div>
  <div class="col-sm-12 col-md-6">
    <mat-card class="app-card-grafico" appearance="outlined">
      <mat-card-header>
        <mat-card-title>Total votos por macrodistrito</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div style="overflow:auto ;">
          <div style="min-width: 500px;">
            <div id="chartdivTotalesMacro"></div>
          </div>
        </div>
        
      </mat-card-content>
    </mat-card>
    <br>
  </div>

</div>

<br>

<div class="row"  style="margin: 0;">
  <div class="col-sm-12 col-md-12">
    <mat-card class="example-card" appearance="outlined">
      <mat-card-header>
        <mat-card-title>Totales por Macrodistrito</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div style="overflow:auto ;">
          <div style="min-width: 700px;">
            <div id="chartdivTotalMacro"></div>
          </div>
        </div>
      </mat-card-content>
    </mat-card>


  </div>
</div>