.app-material-container {
    width: auto;
    height: calc(100vh  -  100px -  var(--mat-toolbar-standard-height));
    margin: 0px;
    border: 1px solid #555;
    /* The background property is added to clearly distinguish the borders between drawer and main
       content */
    
  }

  .app-material-drawer{
    background-color: #282727;
  }
  .app-material-toolbar{
    background-color: #0e0e0e;
  }

  .example-spacer {
    flex: 1 1 auto;
  }

  .app-material-link{
    cursor: pointer!important;
  }